
<div id="preloader" class="loader">
    <div class='sk-three-bounce'>
        <div class='sk-bounce-1 sk-child'></div>
        <div class='sk-bounce-2 sk-child'></div>
        <div class='sk-bounce-3 sk-child'></div>
    </div>
</div>
<div id="pjax-container">
    <div id="block-content">
        <section class="section section-auth bagblack textsite titlesite">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="b--shadow b--auth">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="b--auth__left">
                                        <div class="text-center">
                                            <a href="index-2.html" class="logo" data-pjax="">
                                                <img src="/assets/img/logo-img.svg" alt="Golden" style="width: 180px;">
                                            </a>
                                        </div>
                                        <div class="b--shadow__title-bordered">
                                            <div class="title-bordered__wrapper">
                                                <div class="title-bordered">FORGOT PASSWORD</div>
                                            </div>
                                        </div>

                                        
                                        <script language=javascript>
                                            function checkform() {
                                                if (document.forgotform.email.value == '') {
                                                    alert("Please type your username or email!");
                                                    document.forgotform.email.focus();
                                                    return false;
                                                }
                                                return true;
                                            }

                                        </script>
                                        

                                        

                                        
                                        
                                        <form method=post name=forgotform onsubmit="return checkform();">
                                            <input type=hidden name=a value="forgot_password">
                                            <input type=hidden name=action value="forgot_password">
                                            <div class="form-group">
                                                <label>Your Username *</label>
                                                <input type=text name='email' value="" class="form-control">
                                            </div>
                                                                                            <div class="form-group">
                                                <button class="btn btn-warning btn-block">RECOVER</button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <link rel="stylesheet" href="/assets/libs/bootstrap/fileinput.min.css">
    <script src="/assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/libs/bootstrap/fileinput.min.js"></script>
</div>

